workflows/backups/n8n-webinar-lead-polling.before-restore-from-1928-backup.20260331-1948.json
{
  "updatedAt": "2026-03-31T19:17:00.651Z",
  "createdAt": "2026-03-30T20:19:08.185Z",
  "id": "Om22XDi7T02fya28",
  "name": "Webinar Lead Automation — Meta Polling",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.airtable.com/v0/appFIn3ntFb39vGXF/tblyTzWUXxpWeHJaB",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "airtableTokenApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-b8c9-d0e1f2a34567",
      "name": "Crear Lead (API Airtable)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1152,
        128
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "x1uHjyxikVKPnKYS",
          "name": "Airtable account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "subject": "🎁 Tu Guía \"RED FLAGS\" de IA — Duendes.net",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "c9d0e1f2-a3b4-5678-c9d0-e1f2a3b45678",
      "name": "Email Bienvenida",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1584,
        128
      ],
      "webhookId": "f9fcccd0-e3be-400b-a20e-5b90a0c4d2a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "nSVw510aT4Qwb1tQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08",
          "mode": "list",
          "cachedResultName": "RED FLAGS - Guía de contratación de IA para empresas - duendes.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08/view?usp=drivesdk"
        },
        "options": {
          "fileName": "RED FLAGS - Guía para evitar malas contrataciones de IA.pdf"
        }
      },
      "id": "08d31608-30c2-4458-a863-3d398efa89cd",
      "name": "Descargar PDF RED FLAGS",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qPlXGvCZDKaXn4go",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "path": "webinar-lead-ads-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        928,
        -48
      ],
      "id": "2ee56df2-0767-47fd-b9d4-4f52f5af34ca",
      "name": "Webhook Meta (Lead Ads)",
      "webhookId": "14cf24cc-e3ef-43ee-861e-2c34725885b3"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appFIn3ntFb39vGXF"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblyTzWUXxpWeHJaB"
        },
        "options": {}
      },
      "id": "1e192089-176a-4cb5-80ef-d7cb66ed8f1f",
      "name": "Buscar duplicado Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1152,
        -48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "x1uHjyxikVKPnKYS",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-new-sheet-lead",
              "leftValue": "={{ $json._airtable_id || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99c44458-75db-4212-b229-f055492ec2cc",
      "name": "¿Lead nuevo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1568,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Webhook Meta (Lead Ads)').item.json;\nconst searchResults = $json; // This is the output from Airtable Search\n\nreturn {\n  Nombre: source['full_name'] || source['Nombre'] || source['full_name'] || '',\n  Email: source['email'] || source['Email'] || '',\n  'Teléfono': source['phone_number'] || source['Teléfono'] || '',\n  Empresa: source['company_name'] || source['Empresa'] || '',\n  Fuente: 'Meta Ads',\n  Sector: 'Wellness',\n  Estado: 'Nuevo',\n  _airtable_id: searchResults.id || '',\n  _airtable_exists: !!searchResults.id,\n};"
      },
      "id": "e151012b-298d-4735-88f7-91ce925631ce",
      "name": "Preparar lead dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -48
      ]
    }
  ],
  "connections": {
    "Crear Lead (API Airtable)": {
      "main": [
        []
      ]
    },
    "Descargar PDF RED FLAGS": {
      "main": [
        [
          {
            "node": "Email Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Meta (Lead Ads)": {
      "main": [
        [
          {
            "node": "Buscar duplicado Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar duplicado Airtable": {
      "main": [
        [
          {
            "node": "Preparar lead dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lead nuevo?": {
      "main": [
        [
          {
            "node": "Crear Lead (API Airtable)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Email Bienvenida": {
      "main": [
        []
      ]
    },
    "Preparar lead dedupe": {
      "main": [
        [
          {
            "node": "¿Lead nuevo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Madrid",
    "saveManualExecutions": true,
    "executionTimeout": 7200,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cada 5 minutos": {
      "recurrenceRules": []
    },
    "node:Google Sheets Trigger": {
      "documentId": "1htYJWJ9lF4qMz0cdjzoNbIATFmYgaeYRo2pTy77CsPU",
      "sheetId": 2134059263,
      "lastIndexChecked": 2
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "208d1918-39f2-4e9f-a46a-e6ba101391ca",
  "activeVersionId": "83f9e055-1126-4a8b-969f-34119680f5be",
  "versionCounter": 346,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-30T20:19:08.185Z",
      "createdAt": "2026-03-30T20:19:08.185Z",
      "role": "workflow:owner",
      "workflowId": "Om22XDi7T02fya28",
      "projectId": "44dRWDGSCkLxoTl2",
      "project": {
        "updatedAt": "2026-02-17T07:28:26.065Z",
        "createdAt": "2026-02-17T07:26:46.420Z",
        "id": "44dRWDGSCkLxoTl2",
        "name": "Óscar Graña <hola@duendes.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "179cf334-34f5-40df-b382-ebfe9fbbe668",
        "projectRelations": [
          {
            "updatedAt": "2026-02-17T07:26:46.420Z",
            "createdAt": "2026-02-17T07:26:46.420Z",
            "userId": "179cf334-34f5-40df-b382-ebfe9fbbe668",
            "projectId": "44dRWDGSCkLxoTl2",
            "user": {
              "updatedAt": "2026-03-31T08:26:11.489Z",
              "createdAt": "2026-02-17T07:26:44.480Z",
              "id": "179cf334-34f5-40df-b382-ebfe9fbbe668",
              "email": "hola@duendes.net",
              "firstName": "Óscar",
              "lastName": "Graña",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-17T07:28:57.419Z",
                "personalization_survey_n8n_version": "2.7.5",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Qq4HCerZdxiMBys0",
                "userActivatedAt": 1771317278493,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771608369488
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-31T19:13:44.999Z",
    "createdAt": "2026-03-31T19:13:44.999Z",
    "versionId": "83f9e055-1126-4a8b-969f-34119680f5be",
    "workflowId": "Om22XDi7T02fya28",
    "nodes": [
      {
        "parameters": {
          "authentication": "predefinedCredentialType",
          "bodyContentType": "json",
          "jsonBody": "={\n  \"fields\": {\n    \"Nombre\": \"{{ $json.Nombre }}\",\n    \"Email\": \"{{ $json.Email }}\",\n    \"Teléfono\": \"{{ $json['Teléfono'] }}\",\n    \"Empresa\": \"{{ $json.Empresa }}\",\n    \"Fuente\": \"{{ $json.Fuente }}\",\n    \"Sector\": \"{{ $json.Sector }}\",\n    \"Estado\": \"{{ $json.Estado }}\"\n  }\n}",
          "method": "POST",
          "nodeCredentialType": "airtableTokenApi",
          "sendBody": true,
          "url": "https://api.airtable.com/v0/appFIn3ntFb39vGXF/tblyTzWUXxpWeHJaB"
        },
        "id": "b8c9d0e1-f2a3-4567-b8c9-d0e1f2a34567",
        "name": "Crear Lead (API Airtable)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1152,
          128
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "x1uHjyxikVKPnKYS",
            "name": "Airtable account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "html": "=Hola {{ $json.fields.Nombre }},<br><br>¡Gracias por tu interés!<br><br>Como te prometí, aquí tienes adjunta la <b>Guía \"RED FLAGS\" sobre IA para Empresas</b>. En ella encontrarás los puntos clave para evitar errores comunes y asegurar que tu inversión en IA sea un éxito.<br><br>Si tienes cualquier duda o quieres que hablemos sobre cómo implementar agentes de voz en tu negocio, no dudes en responder a este correo.<br><br>Un saludo,<br>Óscar Graña<br><b>Duendes.net</b>",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {
                  "property": "data"
                }
              ]
            }
          },
          "subject": "🎁 Tu Guía \"RED FLAGS\" de IA — Duendes.net",
          "to": "={{ $json.fields.Email }}"
        },
        "id": "c9d0e1f2-a3b4-5678-c9d0-e1f2a3b45678",
        "name": "Email Bienvenida",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1584,
          128
        ],
        "webhookId": "f9fcccd0-e3be-400b-a20e-5b90a0c4d2a8",
        "credentials": {
          "gmailOAuth2": {
            "id": "nSVw510aT4Qwb1tQ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08",
            "mode": "list",
            "cachedResultName": "RED FLAGS - Guía de contratación de IA para empresas - duendes.pdf",
            "cachedResultUrl": "https://drive.google.com/file/d/1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08/view?usp=drivesdk"
          },
          "options": {
            "fileName": "RED FLAGS - Guía para evitar malas contrataciones de IA.pdf"
          }
        },
        "id": "08d31608-30c2-4458-a863-3d398efa89cd",
        "name": "Descargar PDF RED FLAGS",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1376,
          128
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qPlXGvCZDKaXn4go",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "options": {},
          "path": "webinar-lead-ads-webhook"
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          928,
          -48
        ],
        "id": "2ee56df2-0767-47fd-b9d4-4f52f5af34ca",
        "name": "Webhook Meta (Lead Ads)",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "fiQknqBGuatfImCX",
            "name": "Google Sheets Trigger"
          }
        },
        "webhookId": "14cf24cc-e3ef-43ee-861e-2c34725885b3"
      },
      {
        "parameters": {
          "base": {
            "__rl": true,
            "mode": "list",
            "value": "appFIn3ntFb39vGXF"
          },
          "filterByFormula": "={{ \\\"LOWER({Email})=\\\\\\\"\\\" + String($('Webhook Meta (Lead Ads)').item.json.email || $('Webhook Meta (Lead Ads)').item.json.Email || \\\"\\\").toLowerCase().trim() + \\\"\\\\\\\"\\\" }}",
          "options": {},
          "table": {
            "__rl": true,
            "mode": "list",
            "value": "tblyTzWUXxpWeHJaB"
          }
        },
        "id": "1e192089-176a-4cb5-80ef-d7cb66ed8f1f",
        "name": "Buscar duplicado Airtable",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2,
        "position": [
          1152,
          -48
        ],
        "alwaysOutputData": true,
        "credentials": {
          "airtableTokenApi": {
            "id": "x1uHjyxikVKPnKYS",
            "name": "Airtable account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-is-new-sheet-lead",
                "leftValue": "={{ $json._airtable_id || \"\" }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "99c44458-75db-4212-b229-f055492ec2cc",
        "name": "¿Lead nuevo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1568,
          -48
        ]
      },
      {
        "parameters": {
          "jsCode": "const source = $('Webhook Meta (Lead Ads)').item.json;\nconst searchResults = $json; // This is the output from Airtable Search\n\nreturn {\n  Nombre: source['full_name'] || source['Nombre'] || source['full_name'] || '',\n  Email: source['email'] || source['Email'] || '',\n  'Teléfono': source['phone_number'] || source['Teléfono'] || '',\n  Empresa: source['company_name'] || source['Empresa'] || '',\n  Fuente: 'Meta Ads',\n  Sector: 'Wellness',\n  Estado: 'Nuevo',\n  _airtable_id: searchResults.id || '',\n  _airtable_exists: !!searchResults.id,\n};"
        },
        "id": "e151012b-298d-4735-88f7-91ce925631ce",
        "name": "Preparar lead dedupe",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          -48
        ]
      }
    ],
    "connections": {
      "Crear Lead (API Airtable)": {
        "main": [
          [
            {
              "node": "Descargar PDF RED FLAGS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Descargar PDF RED FLAGS": {
        "main": [
          [
            {
              "node": "Email Bienvenida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Meta (Lead Ads)": {
        "main": [
          [
            {
              "node": "Buscar duplicado Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar duplicado Airtable": {
        "main": [
          [
            {
              "node": "Preparar lead dedupe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Lead nuevo?": {
        "main": [
          [
            {
              "node": "Crear Lead (API Airtable)",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Email Bienvenida": {
        "main": [
          []
        ]
      },
      "Preparar lead dedupe": {
        "main": [
          [
            {
              "node": "¿Lead nuevo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Óscar Graña",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-31T19:13:45.142Z",
        "id": 137,
        "workflowId": "Om22XDi7T02fya28",
        "versionId": "83f9e055-1126-4a8b-969f-34119680f5be",
        "event": "activated",
        "userId": "179cf334-34f5-40df-b382-ebfe9fbbe668"
      }
    ]
  }
}