workflows/backups/n8n-webinar-lead-polling.before-fix-multiple-matches-create.20260331-171944.json
{
  "updatedAt": "2026-03-31T15:18:31.259Z",
  "createdAt": "2026-03-30T20:19:08.185Z",
  "id": "Om22XDi7T02fya28",
  "name": "Webinar Lead Automation — Meta Polling",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appFIn3ntFb39vGXF",
          "mode": "list",
          "cachedResultName": "Duendes CRM",
          "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF"
        },
        "table": {
          "__rl": true,
          "value": "tblyTzWUXxpWeHJaB",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF/tblyTzWUXxpWeHJaB"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Estado": "Nuevo",
            "Fuente": "Meta Ads",
            "Sector": "Wellness",
            "Nombre": "={{ $('Google Sheets Trigger').item.json['Próximo seguimiento'] }}",
            "Email": "={{ $('Google Sheets Trigger').item.json['Último contacto'] }}",
            "Teléfono": "={{ $json['Teléfono'] || $json['Telefono'] || '' }}",
            "Empresa": "={{ $json['Empresa'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Fuente",
              "displayName": "Fuente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Meta Ads",
                  "value": "Meta Ads"
                },
                {
                  "name": "Web",
                  "value": "Web"
                },
                {
                  "name": "Referido",
                  "value": "Referido"
                },
                {
                  "name": "Outreach",
                  "value": "Outreach"
                },
                {
                  "name": "Otro",
                  "value": "Otro"
                },
                {
                  "name": "webinar",
                  "value": "webinar"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sector",
              "displayName": "Sector",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Clínica Dental",
                  "value": "Clínica Dental"
                },
                {
                  "name": "Centro de Estética",
                  "value": "Centro de Estética"
                },
                {
                  "name": "Peluquería / Barbería",
                  "value": "Peluquería / Barbería"
                },
                {
                  "name": "Bufete / Legal",
                  "value": "Bufete / Legal"
                },
                {
                  "name": "Gestoría",
                  "value": "Gestoría"
                },
                {
                  "name": "Consultoría",
                  "value": "Consultoría"
                },
                {
                  "name": "Fontanería",
                  "value": "Fontanería"
                },
                {
                  "name": "Electricidad",
                  "value": "Electricidad"
                },
                {
                  "name": "Reformas",
                  "value": "Reformas"
                },
                {
                  "name": "Comercio",
                  "value": "Comercio"
                },
                {
                  "name": "Otro",
                  "value": "Otro"
                },
                {
                  "name": "Wellness",
                  "value": "Wellness"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nuevo",
                  "value": "Nuevo"
                },
                {
                  "name": "Contactado",
                  "value": "Contactado"
                },
                {
                  "name": "Reunión agendada",
                  "value": "Reunión agendada"
                },
                {
                  "name": "Propuesta enviada",
                  "value": "Propuesta enviada"
                },
                {
                  "name": "Negociación",
                  "value": "Negociación"
                },
                {
                  "name": "Ganado",
                  "value": "Ganado"
                },
                {
                  "name": "Perdido",
                  "value": "Perdido"
                },
                {
                  "name": "Incorrecto",
                  "value": "Incorrecto"
                },
                {
                  "name": "Recordatorio Enviado",
                  "value": "Recordatorio Enviado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha reunión",
              "displayName": "Fecha reunión",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Cal Booking ID",
              "displayName": "Cal Booking ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Convertido",
              "displayName": "Convertido",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clients",
              "displayName": "Clients",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Próximo seguimiento",
              "displayName": "Próximo seguimiento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Último contacto",
              "displayName": "Último contacto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-b8c9-d0e1f2a34567",
      "name": "Crear en Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1152,
        128
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "x1uHjyxikVKPnKYS",
          "name": "Airtable account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Crear en Airtable').item.json.fields.Email }}",
        "subject": "✅ Bienvenido — Webinar IA + tu PDF RED FLAGS",
        "message": "=<style>\n  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Zilla+Slab:wght@400;600;700&display=swap');\n</style>\n\n<div style=\"max-width:640px; margin:0 auto; font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#111111; text-align:center; overflow:hidden;\">\n\n  <img\n    src=\"https://image2url.com/r2/default/images/1774954597380-cd60dfdd-78da-42b4-968b-7a8402fe54e0.png\"\n    alt=\"Duendes\"\n    style=\"display:block; width:100%; max-width:640px; height:auto; margin:0;\"\n  >\n\n  <div style=\"padding:34px 32px 40px; text-align:center;\">\n    <h1 style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:28px; line-height:1.2; margin:0 0 36px; font-weight:600; color:#111111;\">\n      Tu plaza está confirmada.\n    </h1>\n\n    <div style=\"text-align:left; font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:16px; line-height:1.8; color:#111111;\">\n      <p style=\"margin:0 0 18px;\">Hola {{ $('Crear en Airtable').item.json.fields.Nombre }},</p>\n      <p style=\"margin:0 0 18px;\">gracias por apuntarte al webinar.</p>\n      <p style=\"margin:0 0 18px;\">Antes de nada, quiero dejarte clara una cosa:</p>\n      <p style=\"margin:0 0 18px;\">esta sesión no está pensada para que aprendas a automatizar procesos tú solo, ni para venderte un curso.</p>\n      <p style=\"margin:0 0 18px;\">El objetivo es mucho más simple y mucho más útil:</p>\n      <p style=\"margin:0 0 18px;\">que entiendas qué tipo de inteligencia artificial puede aportar valor real a tu empresa, en qué áreas tiene sentido aplicarla y cómo contratar este tipo de servicios con criterio, sin pagar de más ni comprar humo.</p>\n      <p style=\"margin:0 0 18px;\">Tal y como te prometí, y para que llegues al webinar con contexto, te adjunto en este mismo email el PDF:</p>\n      <p style=\"margin:0 0 22px;\"><strong>“RED FLAGS — Guía para evitar malas contrataciones de IA”</strong></p>\n      <p style=\"margin:0 0 14px;\">En el webinar vas a aprender a:</p>\n      <ul style=\"margin:0 0 34px 22px; padding:0; line-height:1.9;\">\n        <li>distinguir oportunidades reales de simple marketing</li>\n        <li>detectar en qué áreas de tu empresa puedes implementar IA ya mismo</li>\n        <li>evaluar propuestas y presupuestos con más criterio</li>\n        <li>entender qué pedir, qué evitar y cómo no sobredimensionar una solución que quizá no necesitas</li>\n      </ul>\n    </div>\n\n    <div style=\"margin:42px 0 14px;\">\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:20px; line-height:1.3; margin-bottom:8px; color:#111111;\">\n        LA CLASE SERÁ EL DÍA\n      </div>\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:44px; line-height:1; font-weight:700; margin-bottom:10px; color:#111111;\">\n        8 DE ABRIL\n      </div>\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:20px; line-height:1.3; margin-bottom:8px; color:#111111;\">\n        A LAS\n      </div>\n      <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:42px; line-height:1; font-weight:800; margin-bottom:10px; color:#111111;\">\n        19:00\n      </div>\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:14px; line-height:1.4; color:#111111;\">\n        (HORA PENINSULAR)\n      </div>\n    </div>\n\n    <div style=\"text-align:center; margin:34px 0 42px;\">\n      <div style=\"margin:0 0 20px;\">\n        <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:18px; line-height:1.4; margin:0 0 8px; color:#111111;\">\n          AQUÍ TE DEJO EL LINK\n        </div>\n        <a href=\"https://meet.google.com/wta-qqcf-wdi?hs=224\" style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#1155cc; font-weight:800; font-size:17px; text-decoration:underline;\">\n          UNIRME A LA CLASE\n        </a>\n      </div>\n\n      <div style=\"margin:0 0 32px;\">\n        <a href=\"https://calendar.google.com/calendar/r/eventedit?action=TEMPLATE&text=WEBINAR%20-%20C%C3%B3mo%20dar%20el%20salto%20a%20la%20Inteligencia%20Artificial&dates=20260408T170000Z%2F20260408T180000Z&stz=Europe%2FMadrid&etz=Europe%2FMadrid&details=Acceso%20a%20la%20clase%3A%20https%3A%2F%2Fmeet.google.com%2Fwta-qqcf-wdi%3Fhs%3D224%0A%0AV%C3%ADdeo%20de%20confirmaci%C3%B3n%3A%20https%3A%2F%2Fwww.duendes.net%2Fwebinar%2Fconfirmacion&location=https%3A%2F%2Fmeet.google.com%2Fwta-qqcf-wdi%3Fhs%3D224\" style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#1155cc; font-weight:800; font-size:17px; text-decoration:underline;\">\n          GUARDARLO EN MI CALENDARIO\n        </a>\n      </div>\n\n      <div style=\"margin:0;\">\n        <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:18px; line-height:1.4; margin:0 0 8px; color:#111111;\">\n          MIENTRAS TANTO PUEDES\n        </div>\n        <a href=\"https://www.duendes.net/webinar/confirmacion\" style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#1155cc; font-weight:800; font-size:17px; text-decoration:underline;\">\n          VER VÍDEO DE CONFIRMACIÓN\n        </a>\n      </div>\n    </div>\n\n    <div style=\"text-align:left; font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:16px; line-height:1.8; color:#111111;\">\n      <p style=\"margin:0 0 18px;\">Por si no me conoces todavía, soy Óscar Graña, fundador de Duendes.</p>\n      <p style=\"margin:0 0 18px;\">Durante más de 10 años he trabajado dirigiendo equipos en áreas comerciales y de atención al cliente, y ahora mi foco está en acercar una visión útil y realista de la inteligencia artificial a autónomos y pymes.</p>\n      <p style=\"margin:0 0 18px;\">Gracias de nuevo por confiar en mí.</p>\n      <p style=\"margin:0 0 10px;\">Nos vemos en la clase.</p>\n    </div>\n\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin:40px 0 0;\">\n      <tr>\n        <td style=\"vertical-align:middle; padding-right:18px; width:90px;\" align=\"left\">\n          <img\n            src=\"https://image2url.com/r2/default/images/1774954623598-130f5ebc-e355-4888-bd77-bf68aab84362.png\"\n            alt=\"Óscar Graña\"\n            style=\"width:72px; height:72px; object-fit:cover; border-radius:50%; display:block;\"\n          >\n        </td>\n        <td style=\"vertical-align:middle; text-align:left;\" align=\"left\">\n          <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:18px; font-weight:800; line-height:1.1; color:#111111;\">\n            ÓSCAR GRAÑA\n          </div>\n          <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:13px; color:#444444; margin-top:6px;\">\n            Fundador de Duendes · Agencia de IA\n          </div>\n          <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:13px; margin-top:6px;\">\n            <a href=\"mailto:hola@duendes.net\" style=\"color:#111111; text-decoration:none;\">hola@duendes.net</a>\n          </div>\n        </td>\n      </tr>\n    </table>\n  </div>\n</div>\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "c9d0e1f2-a3b4-5678-c9d0-e1f2a3b45678",
      "name": "Email Bienvenida",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1584,
        128
      ],
      "webhookId": "f9fcccd0-e3be-400b-a20e-5b90a0c4d2a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "nSVw510aT4Qwb1tQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08",
          "mode": "list",
          "cachedResultName": "RED FLAGS - Guía de contratación de IA para empresas - duendes.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08/view?usp=drivesdk"
        },
        "options": {
          "fileName": "RED FLAGS - Guía para evitar malas contrataciones de IA.pdf"
        }
      },
      "id": "08d31608-30c2-4458-a863-3d398efa89cd",
      "name": "Descargar PDF RED FLAGS",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qPlXGvCZDKaXn4go",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "=1htYJWJ9lF4qMz0cdjzoNbIATFmYgaeYRo2pTy77CsPU"
        },
        "sheetName": {
          "__rl": true,
          "value": 2134059263,
          "mode": "list",
          "cachedResultName": "Leads-Grid view",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1htYJWJ9lF4qMz0cdjzoNbIATFmYgaeYRo2pTy77CsPU/edit#gid=2134059263"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        928,
        -48
      ],
      "id": "2ee56df2-0767-47fd-b9d4-4f52f5af34ca",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "fiQknqBGuatfImCX",
          "name": "Google Sheets Trigger"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appFIn3ntFb39vGXF",
          "mode": "list",
          "cachedResultName": "Duendes CRM",
          "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF"
        },
        "table": {
          "__rl": true,
          "value": "tblyTzWUXxpWeHJaB",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF/tblyTzWUXxpWeHJaB"
        },
        "filterByFormula": "={{ \"LOWER({Email})=\\\"\" + String($('Google Sheets Trigger').itemMatching(0).json['Último contacto'] || \"\").toLowerCase().replace(/\"/g, '\\\\\"') + \"\\\"\" }}",
        "options": {}
      },
      "id": "1e192089-176a-4cb5-80ef-d7cb66ed8f1f",
      "name": "Buscar duplicado Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1152,
        -48
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "x1uHjyxikVKPnKYS",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-new-sheet-lead",
              "leftValue": "={{ $json._airtable_id || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99c44458-75db-4212-b229-f055492ec2cc",
      "name": "¿Lead nuevo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1568,
        -48
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const source = $('Google Sheets Trigger').itemMatching(0).json;\n\n$input.item.json = {\n  Nombre: source['Nombre'] || '',\n  Email: source['Email'] || '',\n  'Teléfono': source['Teléfono'] || source['Telefono'] || '',\n  Empresa: source['Empresa'] || '',\n  Fuente: source['Fuente'] || '',\n  Sector: source['Sector'] || '',\n  Estado: source['Estado'] || '',\n  'Fecha reunión': source['Fecha reunión'] || '',\n  'Cal Booking ID': source['Cal Booking ID'] || '',\n  Notas: source['Notas'] || '',\n  Convertido: source['Convertido'] || '',\n  Clients: source['Clients'] || '',\n  'Próximo seguimiento': source['Próximo seguimiento'] || '',\n  'Último contacto': source['Último contacto'] || '',\n  id: source['id'] || '',\n  created_time: source['created_time'] || '',\n  ad_id: source['ad_id'] || '',\n  ad_name: source['ad_name'] || '',\n  adset_id: source['adset_id'] || '',\n  adset_name: source['adset_name'] || '',\n  campaign_id: source['campaign_id'] || '',\n  campaign_name: source['campaign_name'] || '',\n  _airtable_id: $input.item.json.id || '',\n  _airtable_exists: !!$input.item.json.id,\n};\n\nreturn $input.item;\n"
      },
      "id": "e151012b-298d-4735-88f7-91ce925631ce",
      "name": "Preparar lead dedupe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -48
      ]
    }
  ],
  "connections": {
    "Crear en Airtable": {
      "main": [
        [
          {
            "node": "Descargar PDF RED FLAGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar PDF RED FLAGS": {
      "main": [
        [
          {
            "node": "Email Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Buscar duplicado Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar duplicado Airtable": {
      "main": [
        [
          {
            "node": "Preparar lead dedupe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Lead nuevo?": {
      "main": [
        [
          {
            "node": "Crear en Airtable",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Email Bienvenida": {
      "main": [
        []
      ]
    },
    "Preparar lead dedupe": {
      "main": [
        [
          {
            "node": "¿Lead nuevo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "Europe/Madrid",
    "saveManualExecutions": true,
    "executionTimeout": 7200,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cada 5 minutos": {
      "recurrenceRules": []
    },
    "node:Google Sheets Trigger": {
      "documentId": "1htYJWJ9lF4qMz0cdjzoNbIATFmYgaeYRo2pTy77CsPU",
      "sheetId": 2134059263,
      "lastIndexChecked": 2
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "65044825-2a5e-41e2-a934-24eb81daa209",
  "activeVersionId": "1ff8d774-68a4-441a-9fb3-255f4d70a155",
  "versionCounter": 304,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-30T20:19:08.185Z",
      "createdAt": "2026-03-30T20:19:08.185Z",
      "role": "workflow:owner",
      "workflowId": "Om22XDi7T02fya28",
      "projectId": "44dRWDGSCkLxoTl2",
      "project": {
        "updatedAt": "2026-02-17T07:28:26.065Z",
        "createdAt": "2026-02-17T07:26:46.420Z",
        "id": "44dRWDGSCkLxoTl2",
        "name": "Óscar Graña <hola@duendes.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "179cf334-34f5-40df-b382-ebfe9fbbe668",
        "projectRelations": [
          {
            "updatedAt": "2026-02-17T07:26:46.420Z",
            "createdAt": "2026-02-17T07:26:46.420Z",
            "userId": "179cf334-34f5-40df-b382-ebfe9fbbe668",
            "projectId": "44dRWDGSCkLxoTl2",
            "user": {
              "updatedAt": "2026-03-31T08:26:11.489Z",
              "createdAt": "2026-02-17T07:26:44.480Z",
              "id": "179cf334-34f5-40df-b382-ebfe9fbbe668",
              "email": "hola@duendes.net",
              "firstName": "Óscar",
              "lastName": "Graña",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-17T07:28:57.419Z",
                "personalization_survey_n8n_version": "2.7.5",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Qq4HCerZdxiMBys0",
                "userActivatedAt": 1771317278493,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771608369488
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-31T15:15:04.273Z",
    "createdAt": "2026-03-31T15:15:04.273Z",
    "versionId": "1ff8d774-68a4-441a-9fb3-255f4d70a155",
    "workflowId": "Om22XDi7T02fya28",
    "nodes": [
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appFIn3ntFb39vGXF",
            "mode": "list",
            "cachedResultName": "Duendes CRM",
            "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF"
          },
          "table": {
            "__rl": true,
            "value": "tblyTzWUXxpWeHJaB",
            "mode": "list",
            "cachedResultName": "Leads",
            "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF/tblyTzWUXxpWeHJaB"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {
              "Estado": "Nuevo",
              "Fuente": "Meta Ads",
              "Sector": "Wellness",
              "Nombre": "={{ $('Google Sheets Trigger').item.json['Próximo seguimiento'] }}",
              "Email": "={{ $('Google Sheets Trigger').item.json['Último contacto'] }}",
              "Teléfono": "={{ $json['Teléfono'] || $json['Telefono'] || '' }}",
              "Empresa": "={{ $json['Empresa'] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Teléfono",
                "displayName": "Teléfono",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Empresa",
                "displayName": "Empresa",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Fuente",
                "displayName": "Fuente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Meta Ads",
                    "value": "Meta Ads"
                  },
                  {
                    "name": "Web",
                    "value": "Web"
                  },
                  {
                    "name": "Referido",
                    "value": "Referido"
                  },
                  {
                    "name": "Outreach",
                    "value": "Outreach"
                  },
                  {
                    "name": "Otro",
                    "value": "Otro"
                  },
                  {
                    "name": "webinar",
                    "value": "webinar"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Sector",
                "displayName": "Sector",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Clínica Dental",
                    "value": "Clínica Dental"
                  },
                  {
                    "name": "Centro de Estética",
                    "value": "Centro de Estética"
                  },
                  {
                    "name": "Peluquería / Barbería",
                    "value": "Peluquería / Barbería"
                  },
                  {
                    "name": "Bufete / Legal",
                    "value": "Bufete / Legal"
                  },
                  {
                    "name": "Gestoría",
                    "value": "Gestoría"
                  },
                  {
                    "name": "Consultoría",
                    "value": "Consultoría"
                  },
                  {
                    "name": "Fontanería",
                    "value": "Fontanería"
                  },
                  {
                    "name": "Electricidad",
                    "value": "Electricidad"
                  },
                  {
                    "name": "Reformas",
                    "value": "Reformas"
                  },
                  {
                    "name": "Comercio",
                    "value": "Comercio"
                  },
                  {
                    "name": "Otro",
                    "value": "Otro"
                  },
                  {
                    "name": "Wellness",
                    "value": "Wellness"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Nuevo",
                    "value": "Nuevo"
                  },
                  {
                    "name": "Contactado",
                    "value": "Contactado"
                  },
                  {
                    "name": "Reunión agendada",
                    "value": "Reunión agendada"
                  },
                  {
                    "name": "Propuesta enviada",
                    "value": "Propuesta enviada"
                  },
                  {
                    "name": "Negociación",
                    "value": "Negociación"
                  },
                  {
                    "name": "Ganado",
                    "value": "Ganado"
                  },
                  {
                    "name": "Perdido",
                    "value": "Perdido"
                  },
                  {
                    "name": "Incorrecto",
                    "value": "Incorrecto"
                  },
                  {
                    "name": "Recordatorio Enviado",
                    "value": "Recordatorio Enviado"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Fecha reunión",
                "displayName": "Fecha reunión",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Cal Booking ID",
                "displayName": "Cal Booking ID",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Notas",
                "displayName": "Notas",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Convertido",
                "displayName": "Convertido",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "boolean",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Clients",
                "displayName": "Clients",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Próximo seguimiento",
                "displayName": "Próximo seguimiento",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              },
              {
                "id": "Último contacto",
                "displayName": "Último contacto",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "b8c9d0e1-f2a3-4567-b8c9-d0e1f2a34567",
        "name": "Crear en Airtable",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2,
        "position": [
          1152,
          128
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "x1uHjyxikVKPnKYS",
            "name": "Airtable account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "sendTo": "={{ $('Crear en Airtable').item.json.fields.Email }}",
          "subject": "✅ Bienvenido — Webinar IA + tu PDF RED FLAGS",
          "message": "=<style>\n  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Zilla+Slab:wght@400;600;700&display=swap');\n</style>\n\n<div style=\"max-width:640px; margin:0 auto; font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#111111; text-align:center; overflow:hidden;\">\n\n  <img\n    src=\"https://image2url.com/r2/default/images/1774954597380-cd60dfdd-78da-42b4-968b-7a8402fe54e0.png\"\n    alt=\"Duendes\"\n    style=\"display:block; width:100%; max-width:640px; height:auto; margin:0;\"\n  >\n\n  <div style=\"padding:34px 32px 40px; text-align:center;\">\n    <h1 style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:28px; line-height:1.2; margin:0 0 36px; font-weight:600; color:#111111;\">\n      Tu plaza está confirmada.\n    </h1>\n\n    <div style=\"text-align:left; font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:16px; line-height:1.8; color:#111111;\">\n      <p style=\"margin:0 0 18px;\">Hola {{ $('Crear en Airtable').item.json.fields.Nombre }},</p>\n      <p style=\"margin:0 0 18px;\">gracias por apuntarte al webinar.</p>\n      <p style=\"margin:0 0 18px;\">Antes de nada, quiero dejarte clara una cosa:</p>\n      <p style=\"margin:0 0 18px;\">esta sesión no está pensada para que aprendas a automatizar procesos tú solo, ni para venderte un curso.</p>\n      <p style=\"margin:0 0 18px;\">El objetivo es mucho más simple y mucho más útil:</p>\n      <p style=\"margin:0 0 18px;\">que entiendas qué tipo de inteligencia artificial puede aportar valor real a tu empresa, en qué áreas tiene sentido aplicarla y cómo contratar este tipo de servicios con criterio, sin pagar de más ni comprar humo.</p>\n      <p style=\"margin:0 0 18px;\">Tal y como te prometí, y para que llegues al webinar con contexto, te adjunto en este mismo email el PDF:</p>\n      <p style=\"margin:0 0 22px;\"><strong>“RED FLAGS — Guía para evitar malas contrataciones de IA”</strong></p>\n      <p style=\"margin:0 0 14px;\">En el webinar vas a aprender a:</p>\n      <ul style=\"margin:0 0 34px 22px; padding:0; line-height:1.9;\">\n        <li>distinguir oportunidades reales de simple marketing</li>\n        <li>detectar en qué áreas de tu empresa puedes implementar IA ya mismo</li>\n        <li>evaluar propuestas y presupuestos con más criterio</li>\n        <li>entender qué pedir, qué evitar y cómo no sobredimensionar una solución que quizá no necesitas</li>\n      </ul>\n    </div>\n\n    <div style=\"margin:42px 0 14px;\">\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:20px; line-height:1.3; margin-bottom:8px; color:#111111;\">\n        LA CLASE SERÁ EL DÍA\n      </div>\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:44px; line-height:1; font-weight:700; margin-bottom:10px; color:#111111;\">\n        8 DE ABRIL\n      </div>\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:20px; line-height:1.3; margin-bottom:8px; color:#111111;\">\n        A LAS\n      </div>\n      <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:42px; line-height:1; font-weight:800; margin-bottom:10px; color:#111111;\">\n        19:00\n      </div>\n      <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:14px; line-height:1.4; color:#111111;\">\n        (HORA PENINSULAR)\n      </div>\n    </div>\n\n    <div style=\"text-align:center; margin:34px 0 42px;\">\n      <div style=\"margin:0 0 20px;\">\n        <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:18px; line-height:1.4; margin:0 0 8px; color:#111111;\">\n          AQUÍ TE DEJO EL LINK\n        </div>\n        <a href=\"https://meet.google.com/wta-qqcf-wdi?hs=224\" style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#1155cc; font-weight:800; font-size:17px; text-decoration:underline;\">\n          UNIRME A LA CLASE\n        </a>\n      </div>\n\n      <div style=\"margin:0 0 32px;\">\n        <a href=\"https://calendar.google.com/calendar/r/eventedit?action=TEMPLATE&text=WEBINAR%20-%20C%C3%B3mo%20dar%20el%20salto%20a%20la%20Inteligencia%20Artificial&dates=20260408T170000Z%2F20260408T180000Z&stz=Europe%2FMadrid&etz=Europe%2FMadrid&details=Acceso%20a%20la%20clase%3A%20https%3A%2F%2Fmeet.google.com%2Fwta-qqcf-wdi%3Fhs%3D224%0A%0AV%C3%ADdeo%20de%20confirmaci%C3%B3n%3A%20https%3A%2F%2Fwww.duendes.net%2Fwebinar%2Fconfirmacion&location=https%3A%2F%2Fmeet.google.com%2Fwta-qqcf-wdi%3Fhs%3D224\" style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#1155cc; font-weight:800; font-size:17px; text-decoration:underline;\">\n          GUARDARLO EN MI CALENDARIO\n        </a>\n      </div>\n\n      <div style=\"margin:0;\">\n        <div style=\"font-family:'Zilla Slab', Georgia, 'Times New Roman', serif; font-size:18px; line-height:1.4; margin:0 0 8px; color:#111111;\">\n          MIENTRAS TANTO PUEDES\n        </div>\n        <a href=\"https://www.duendes.net/webinar/confirmacion\" style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; color:#1155cc; font-weight:800; font-size:17px; text-decoration:underline;\">\n          VER VÍDEO DE CONFIRMACIÓN\n        </a>\n      </div>\n    </div>\n\n    <div style=\"text-align:left; font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:16px; line-height:1.8; color:#111111;\">\n      <p style=\"margin:0 0 18px;\">Por si no me conoces todavía, soy Óscar Graña, fundador de Duendes.</p>\n      <p style=\"margin:0 0 18px;\">Durante más de 10 años he trabajado dirigiendo equipos en áreas comerciales y de atención al cliente, y ahora mi foco está en acercar una visión útil y realista de la inteligencia artificial a autónomos y pymes.</p>\n      <p style=\"margin:0 0 18px;\">Gracias de nuevo por confiar en mí.</p>\n      <p style=\"margin:0 0 10px;\">Nos vemos en la clase.</p>\n    </div>\n\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin:40px 0 0;\">\n      <tr>\n        <td style=\"vertical-align:middle; padding-right:18px; width:90px;\" align=\"left\">\n          <img\n            src=\"https://image2url.com/r2/default/images/1774954623598-130f5ebc-e355-4888-bd77-bf68aab84362.png\"\n            alt=\"Óscar Graña\"\n            style=\"width:72px; height:72px; object-fit:cover; border-radius:50%; display:block;\"\n          >\n        </td>\n        <td style=\"vertical-align:middle; text-align:left;\" align=\"left\">\n          <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:18px; font-weight:800; line-height:1.1; color:#111111;\">\n            ÓSCAR GRAÑA\n          </div>\n          <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:13px; color:#444444; margin-top:6px;\">\n            Fundador de Duendes · Agencia de IA\n          </div>\n          <div style=\"font-family:'Nunito Sans', Arial, Helvetica, sans-serif; font-size:13px; margin-top:6px;\">\n            <a href=\"mailto:hola@duendes.net\" style=\"color:#111111; text-decoration:none;\">hola@duendes.net</a>\n          </div>\n        </td>\n      </tr>\n    </table>\n  </div>\n</div>\n",
          "options": {
            "attachmentsUi": {
              "attachmentsBinary": [
                {}
              ]
            }
          }
        },
        "id": "c9d0e1f2-a3b4-5678-c9d0-e1f2a3b45678",
        "name": "Email Bienvenida",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          1584,
          128
        ],
        "webhookId": "f9fcccd0-e3be-400b-a20e-5b90a0c4d2a8",
        "credentials": {
          "gmailOAuth2": {
            "id": "nSVw510aT4Qwb1tQ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08",
            "mode": "list",
            "cachedResultName": "RED FLAGS - Guía de contratación de IA para empresas - duendes.pdf",
            "cachedResultUrl": "https://drive.google.com/file/d/1V86-XtB7f2UQl_zGPXgG5cuFlOdkDl08/view?usp=drivesdk"
          },
          "options": {
            "fileName": "RED FLAGS - Guía para evitar malas contrataciones de IA.pdf"
          }
        },
        "id": "08d31608-30c2-4458-a863-3d398efa89cd",
        "name": "Descargar PDF RED FLAGS",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1376,
          128
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qPlXGvCZDKaXn4go",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "=1htYJWJ9lF4qMz0cdjzoNbIATFmYgaeYRo2pTy77CsPU"
          },
          "sheetName": {
            "__rl": true,
            "value": 2134059263,
            "mode": "list",
            "cachedResultName": "Leads-Grid view",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1htYJWJ9lF4qMz0cdjzoNbIATFmYgaeYRo2pTy77CsPU/edit#gid=2134059263"
          },
          "event": "rowAdded",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          928,
          -48
        ],
        "id": "2ee56df2-0767-47fd-b9d4-4f52f5af34ca",
        "name": "Google Sheets Trigger",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "fiQknqBGuatfImCX",
            "name": "Google Sheets Trigger"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appFIn3ntFb39vGXF",
            "mode": "list",
            "cachedResultName": "Duendes CRM",
            "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF"
          },
          "table": {
            "__rl": true,
            "value": "tblyTzWUXxpWeHJaB",
            "mode": "list",
            "cachedResultName": "Leads",
            "cachedResultUrl": "https://airtable.com/appFIn3ntFb39vGXF/tblyTzWUXxpWeHJaB"
          },
          "filterByFormula": "={{ \"LOWER({Email})=\\\"\" + String($('Google Sheets Trigger').itemMatching(0).json['Último contacto'] || \"\").toLowerCase().replace(/\"/g, '\\\\\"') + \"\\\"\" }}",
          "options": {}
        },
        "id": "1e192089-176a-4cb5-80ef-d7cb66ed8f1f",
        "name": "Buscar duplicado Airtable",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2,
        "position": [
          1152,
          -48
        ],
        "alwaysOutputData": true,
        "credentials": {
          "airtableTokenApi": {
            "id": "x1uHjyxikVKPnKYS",
            "name": "Airtable account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cond-is-new-sheet-lead",
                "leftValue": "={{ $json._airtable_id || \"\" }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "99c44458-75db-4212-b229-f055492ec2cc",
        "name": "¿Lead nuevo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1568,
          -48
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const source = $('Google Sheets Trigger').itemMatching(0).json;\n\n$input.item.json = {\n  ...source,\n  _airtable_id: $input.item.json.id || '',\n  _airtable_exists: !!$input.item.json.id,\n};\n\nreturn $input.item;"
        },
        "id": "e151012b-298d-4735-88f7-91ce925631ce",
        "name": "Preparar lead dedupe",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          -48
        ]
      }
    ],
    "connections": {
      "Crear en Airtable": {
        "main": [
          [
            {
              "node": "Descargar PDF RED FLAGS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Descargar PDF RED FLAGS": {
        "main": [
          [
            {
              "node": "Email Bienvenida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Buscar duplicado Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar duplicado Airtable": {
        "main": [
          [
            {
              "node": "Preparar lead dedupe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Lead nuevo?": {
        "main": [
          [
            {
              "node": "Crear en Airtable",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Email Bienvenida": {
        "main": [
          []
        ]
      },
      "Preparar lead dedupe": {
        "main": [
          [
            {
              "node": "¿Lead nuevo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Óscar Graña",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-31T15:15:05.276Z",
        "id": 132,
        "workflowId": "Om22XDi7T02fya28",
        "versionId": "1ff8d774-68a4-441a-9fb3-255f4d70a155",
        "event": "activated",
        "userId": "179cf334-34f5-40df-b382-ebfe9fbbe668"
      }
    ]
  }
}